<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'favicon.png' %}">
    {% include "font_loader.html" %}


    {% block extra_meta %}{% endblock %}


    <title>Hail Science</title>

    <link rel="stylesheet" href="{% static 'GPTrivia/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <header>
    <div class="header-container">
        <div class="header-content" style="display: flex; flex-direction: column;">
            <div class="logo-menu-container" style="display: flex; justify-content: space-between; align-items: center;">
                <a class="logo" href="{% url 'home' %}">
{#                    <img src="/static/GPTrivia/css/Hail Science Trivia.png">#}
                    <div>
                        {% block image %}
                            <img src={% static 'apple-touch-icon.png' %}>
                        {% endblock %}


                        <span>{% block text %}Hail Science{% endblock %}<span class="red"> T</span><span class="orange">r</span><span class="yellow">i</span><span class="green">v</span><span class="blue">i</span><span class="purple">a</span></span>
                    </div>
                </a>
                <button id="menu-button">
                    <img src="/static/GPTrivia/css/menubars.png" class="dropbtn" alt="Menu" onclick="toggleMenu()" scale="20%">
                </button>
            </div>
            <div class="menu-buttons" id="menu-buttons" style="display: flex; flex-direction:row; justify-content: space-between; max-width: 700px">
                <div class="scorebtn">
                    <a style="color: white; font-size: large" href={% url 'scoresheet_new' %}>Scoresheet</a>
                </div>
                <div class="analysisbtn">
                    <a style="color: white; font-size: large" href={% url 'player_analysis' %}>Analysis</a>
                </div>
                <div class="roundsbtn">
                    <a style="color: white; font-size: large" href={% url 'rounds_list' %}>Roundshbhbhbhbh List</a>
                </div>
                <div class="makerbtn">
                    <a style="color: white; font-size: large" href={% url 'round_maker' %}>S.W.O.O.P.</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="profilebtn">
                        <a style="color: white; font-size: large" href="{% url 'player_profile' player_name=user.username %}">{{ user.username }}'s Profile</a>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="logoutbtn">
                        <a style="color: white; font-size: large" href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="loginbtn">
                        <a style="color: white; font-size: large" href="{% url 'login' %}">Login</a>
                    </div>
                {%  endif %}
            </div>
        </div>
        <div id="mobileMenu" class="hide-on-mobile">
            <div class="scorebtn">
                <a style="color: white;" href={% url 'scoresheet_new' %}>Scoresheet</a>
            </div>
            <div class="analysisbtn">
                <a style="color: white;" href={% url 'player_analysis' %}>Analysis</a>
            </div>
            <div class="roundsbtn">
                <a style="color: white;" href={% url 'rounds_list' %}>Rounds List</a>
            </div>
            <div class="makerbtn">
                <a style="color: white;" href={% url 'round_maker' %}>S.W.O.O.P.</a>
            </div>
            {% if user.is_authenticated %}
                <div class="profilebtn">
                    <a style="color: white;" href="{% url 'player_profile' player_name=user.username %}">{{ user.username }}'s Profile</a>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="logoutbtn">
                    <a style="color: white;" href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="loginbtn">
                    <a style="color: white;" href="{% url 'login' %}">Login</a>
                </div>
            {%  endif %}
        </div>
    </div>
</header>
    <script>
        function toggleMenu() {
        var menu = document.getElementById('mobileMenu');
        if (menu.style.display === "block") {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
    }
    </script>
</head>



<body>
    <div class="content-container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% block extra_js %}{% endblock %}
</body>



</html>

<footer>
    <div class="footer-container">
        <div class="footer-content">
        <div class="footer-bottom">
            <p id="footer-text">Hail Science Trivia © 2023</p>
        </div>
    </div>
</footer>
