/* Style the button */
button {
    font-size: 1.5rem; /* Bigger font size */
    padding: 15px 30px; /* Larger padding */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Smooth background change */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

button:active {
    background-color: #3e8e41; /* Even darker green when clicked */
}

/* Pressed state */
button.pressed {
    background-color: #f44336; /* Red when pressed */
    color: white; /* Maintain white text */
    transform: scale(1.1); /* Slightly enlarge the button */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth effects */
}



label {
    font-size: 1rem;
    margin-right: 10px;
}

input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-container{
    background-color: #000B58;
    min-height: 111px;
}

.footer-container{
    background-color: #000B58;
    position: inherit;
    font-family: YoungSerif;
    min-height: 5vh;
}

.red{
    color: #FFF4B7;
}

.orange {
    color: #006A67;
}

.yellow {
    color: #003161;
}

.green {
    color: white;
}

.blue {
    color: black;

}

.purple {
    color: darkorange;
}