/* Center the specific div */
#buttondiv {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: auto; /* Center the div itself */
    border: 1px solid transparent; /* Optional: For alignment debugging */
}


#action-button, #unlock-button, #lock-button, #show-host-options-button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

/* Main button */
#action-button {
    width: 200px;
    height: 200px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border-radius: 50%; /* Circular shape */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#action-button:disabled {
    cursor: not-allowed; /* Show not-allowed cursor */
    opacity: 0.6; /* Dim the button */
}


.hidden {
    display: none;
}


/* Hover state */
#action-button:hover {
    background-color: #45a049; /* Darker green */
}

/* Locked state */
#action-button.locked {
    background-color: #f44336; /* Red when locked */
    transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth transitions */
    opacity: 0.8; /* Dim the button */
}

/* Unlock button */
#unlock-button {
    background-color: #2196F3; /* Blue background */
    color: white;
    margin-top: 20px;
}

#lock-button {
    background-color: #2196F3; /* Blue background */
    color: white;
    margin-top: 20px;
}

#show-host-options-button {
    background-color: #2196F3; /* Blue background */
    color: white;
    margin-top: 20px;
}

#unlock-button:hover:not(:disabled) {
    background-color: #1976D2; /* Darker blue on hover */
}

#unlock-button:disabled {
    background-color: #ccc; /* Gray when disabled */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.7; /* Dimmed appearance */
}


label {
    font-size: 1rem;
    margin-right: 10px;
}

input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-container{
    background-color: #000B58;
    min-height: 111px;
}

.footer-container{
    background-color: #000B58;
    position: inherit;
    font-family: YoungSerif;
    min-height: 5vh;
}

.red{
    color: #FFF4B7;
}

.orange {
    color: #006A67;
}

.yellow {
    color: #003161;
}

.green {
    color: white;
}

.blue {
    color: black;

}

.purple {
    color: darkorange;
}