body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #333;
  color:white;
}



#bar-chart{
    display: flex;
    width: 100%;
}

.content-container {
    border: 0px solid #ccc;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#creator-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

#category-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

/*https://coolors.co/palette/72bad5-0e4c6d-03324e-01263d-ef4043-be1e2d-c43240*/

.header-container{
    background-color: #f94144;
}

.red{
    color: rgb(255, 150, 86);
}

.orange {
    color: rgba(255, 221, 0, 0.8);
}

.yellow {
    color: #72bad5;
}

.green {
    color: rgba(255, 255, 255, 0.5);
}

.blue {
    color: #be1e2d;
}

.purple {
    color: rgba(146, 232, 155, 0.8);
}