body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color:black;
}

button {
    font-family: YoungSerif;
}

a {
    color: black;
}

/*.header-container{*/
/*    background-color: #303030;*/
/*}*/



@media screen and (max-width: 850px) {
    td {
        font-size: small;
    }

    .score-col {
        display: none;
    }
}

.header-container{
    background-color: #2d3047;
}

.red{
    color: #588b8b;
}

.orange {
    color: #ffffff;
}

.yellow {
    color: #ffd5c2;
}

.green {
    color: #f28f3b;
}

.blue {
    color: #c8553d;
}

.purple {
    color: #93b7be;
}

/*https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d-2d3047-93b7be*/