body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #333;
  color:white;
}

.header-container{
    /*background-color: #89BD9E; a nice light greenish color */
    /*background-color: #8B1E3F; !* a nice dark red color *!*/
    background-color: #DB4C40;
}


#bar-chart{
    display: flex;
    width: 100%;
}

.content-container {
    border: 0px solid #ccc;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#creator-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

#category-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

.red {
    color: #e30000;
}

.purple {
    color: purple;
}