body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #333;
  color:white;
background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}



#bar-chart{
    display: flex;
    width: 100%;
}

.content-container {
    border: 0px solid #ccc;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#creator-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

.footer-container{
    /*background-color: #b8475d;*/
    /*background-color: #9d4edd;*/
    background-color: #240046;
    position: inherit;
    font-family: YoungSerif;
}

#category-selector {
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

/*https://coolors.co/palette/72bad5-0e4c6d-03324e-01263d-ef4043-be1e2d-c43240*/

.header-container{
    background-color: #f94144;
}

.footer-container{
    background-color: #f94144;
    position: inherit;
    font-family: YoungSerif;
}

.red{
        color: rgba(255, 243, 245, 0.7);

}

.orange {
        color: rgba(255, 255, 255, 0.5);


}

.yellow {
        color: rgb(255, 150, 86);

}

.green {
        color: rgba(255, 221, 0, 0.8);
}

.blue {
    color: rgba(146, 232, 155, 0.8);

}

.purple {
    color: #72bad5;
}