body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #333;
  color:white;
}

.header-container{
    background-color: #96031A;
}

#roundListHead tr th{
    background-color: #96031A;
    color: white;
}

.title-cell{
    background-color: #96031A;
    color: white;
}

a {
    color: white;
}