body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #333;
    color:white;
}

/*https://coolors.co/palette/0d322c-1e7662-28b79f-a1dceb-ed192e-ce1628-a61120*/

.header-container{
    background-color: #1e7662;
}


input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #333;
    margin-bottom: 20px;
    transition: 0.3s;
    padding-top: 16px; /* Increase or decrease this value to adjust spacing */
}

.footer-container{
    background-color: #1e7662;
    position: inherit;
    font-family: YoungSerif;
    min-height: 5vh;
}

input.largerCheckbox {
    width: 40px;
    height: 40px;
}

.content-container {
    min-height: calc(75vh - 20px);
}

@media screen and (max-width: 850px) {
    .content-container {
        display: flex;
        min-height: calc(100vh - 73px - 10vw);
    }
}

.red{
    color: #0d322c;
}

.orange {
    color: #28b79f;
}

.yellow {
    color: rgba(206, 22, 40, 0.95);
}

.green {
    color: #343434;
}

.blue {
    color: #a1dceb;

}

.purple {
    color: #a61120;
}


.joker-round-select {
    width: 100%;
    box-sizing: border-box;
}

.creator-cell {
    background-color: #285238; /* Change to the color you want for the creator cell */
}

.joker-round-cell {
    background-color: #4B296B; /* Change to the color you want for the joker round cell */
}

.btn-delete {
background-color: transparent; /* Remove default background color */
border: none; /* Remove default border */
color: white; /* Set text color to white */
width: 30px; /* Set width of the button (adjust as needed) */
height: 30px; /* Set height of the button (adjust as needed) */
text-align: center; /* Center the text within the button */
}

#btn-add {
    background-color: black; /* Remove default background color */
    border: none; /* Remove default border */
    color: white; /* Set text color to white */
    width: 30px; /* Set width of the button (adjust as needed) */
    height: 30px; /* Set height of the button (adjust as needed) */
    text-align: center; /* Center the text within the button */
    font-size: 24px;
}

#btn-add:hover {
    opacity: 0.8;
}


.nameinput input {
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
}

#btn-save {
    background-color: #285238; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    float: right;
}

.nameinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#btn-save:hover {
    opacity: 0.8;
}

.btn-delete:hover {
    opacity: 0.8;
}

h1{
    text-align: center;
}

a {
    color: white;
}

.joker-dropdown {
    max-width: 120px;
}


@media screen and (max-width: 1000px) {

    #round-select {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .content-container {
        min-height: calc(80vh);
    }
}

@media screen and (min-width: 1000px) {
    #round-select{
        display:none;
    }
}