.table-container {
    max-width: calc(100% - 150px); /* Set the maximum width of the container */
    /*max-height: 600px; !* Set the maximum height of the container *!*/
    overflow: auto; /* Add scrollbars when needed */
    margin-top: 50px;
}

#footer-text{
    margin: 0px;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: YoungSerif;
}

.logo {
    font-family: YoungSerif;
    color: white;
    font-size: 3rem;
}

.red{
    color: rgba(232, 0, 0, 0.9);
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: palegreen;
}

.blue {
    color: deepskyblue;
}

.purple {
    color: mediumpurple;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 9px;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
}


#roundList {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: none;
  font-size: 18px; /* Increase font-size */
}

#roundList th, #roundList td {
  text-align: left; /* Left-align text */
  padding: 15px; /* Add padding */
}

#roundList tr {
  /* Add a bottom border to all table rows */
  /*border-bottom: 1px solid #ddd;*/
}

#roundList tr.header, #roundList tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #212121;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    transition: 0.3s;
    padding-top: 16px; /* Increase or decrease this value to adjust spacing */
}

/* Position the search bar below each table header */
table th {
position: relative;
}


#roundList tbody{
    top: 10px;
}

table th input {
    position: absolute;
    top: 75%;
    left: 0;
    bottom: 10%;
    width: 100%;
    z-index: 2;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}



.table-container {
    max-width: 100%;
    max-height: 90%;
}

.cloned-cell {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 3;
}
.sticky-top-left {
    z-index: 4;
}

.hide-original-cell {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    list-style: none;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}


header {
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header div{
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: YoungSerif;
}

.footer-container {
    bottom: 0;
    width: 100%;
    position: absolute;
    font-family: YoungSerif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.show{
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}



.dropbtn {
    background-color: transparent;
    color: white;
    margin: 5px;
    cursor: pointer;
    border: none;
    filter: invert(100%);
    width: 55px;
    height: auto;
}



.show {
  display: block;
}

.dropbtn:hover {
  opacity: 0.3;
}

.header-container {
    display: flex;
    align-items: inherit;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
}

.content-container {
    border: 0px solid #ccc;
    margin: 10px;
    /*padding: 10px;*/
    box-sizing: border-box;
    min-height: calc(100vh - 200px);
}


.expand-collapse-button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.expand-collapse-button:hover {
  background-color: #45a049; /* Change the background color on hover */
}


.content-wrapper {
    flex-direction: column;
}

.summary-stats {
    order: 2;
}

.table-container {
    order: 1;
}

.player_name {
    order:3;
}


.top-row {
    display: flex;
    justify-content: center;
}

.menu-buttons div {
    display: inline-flex;
}

.header-content {
    display: flex;
    justify-content: space-between;
}


/* Hide the mobile elements by default */
.hide-on-mobile {
    display: none;
}

.show-on-mobile {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 70px;
    vertical-align: sub;
    color: white;
    /*padding: 15px;*/
    /*margin-left: 15px;*/
}

#menu-button {
    display: none;
    flex: 0 0 auto;
    margin-left: 10px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px;
    flex: 0 1 auto;
    font-family: YoungSerif;
}

a .logo {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}

@media screen and (max-width: 790px) {
    .logo-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 0px;
    }

    #mobileMenu {
        margin-right: 0;
        font-family: YoungSerif;
        font-size:calc(12px + 1.5vw);
    }

    #roundList tbody{
        top: 10px;
    }


@media (max-width: 1000px) {
    #roundList tbody{
        position: relative;
    }

    .content-container {
        border: 0px solid #ccc;
        margin: 10px;
        /*padding: 10px;*/
        box-sizing: border-box;
        min-height: calc(100vh - 250px);
    }
}

    /*.logo {*/
    /*    width: 50%;*/
    /*    height: 50%;*/
    /*    padding-left: 10px;*/
    /*}*/

    /*.logo img {*/
    /*    width: 90%;*/
    /*    height: 90%;*/
    /*    padding: 0px;*/
    /*}*/

    #menu-button {
        display: flex;
        scale: 80%;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: none;
        height: auto;
        box-shadow: none;
        margin: 0px;
        padding: 0px;

    }

    .menu-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-buttons.show {
        display: flex;
    }

    .header-container {
        justify-content: center;
    }

    .header-content {
        justify-content: space-between;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .top-row {
        justify-content: center;
    }

    /*.logo {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    width: fit-content;*/
    /*}*/

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-buttons {
        display: none !important;
    }

    .logo {
        font-size: 6vw;
    }

    .logo img {
        width: 8vw;
        margin-right: 0vw;
    }

    .dropbtn {
        width: 7vw;
        margin: 0.5vw;
    }

    .header-container {
        padding: 10px;
    }

}



@media screen and (min-width: 790px) {
  #mobileMenu {
    display: none !important;
  }
}
