{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      {% if presentation_url %}
{#        <h3>{{ pres_name }}</h3>#}
        <iframe src="{{ presentation_url }}" width="90%" height="auto" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      {% endif %}


      <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="generate">Generate Slides</button>
        <button type="submit" name="action" value="update">Update Slides</button>
      </form>

        <form method="post" action="#">
            {% csrf_token %}

            {% for title, creator in avail_titles|zip:avail_creators %}
            <div class="checkbox-item">
{#                <input type="checkbox" id="{{ title }}" name="selected_titles" value="{{ title }}">#}
                <label class="avail_text" for="{{ title }}">{{ title }} by {{ creator }}</label>
            </div>
            {% endfor %}

{#            <button type="submit">Submit</button>#}
        </form>
    </div>
{% endblock %}

