{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/home.css' %}">
  <style>
    .round-selection-table {
        display: table;
        width: 100%;
        max-height: 400px; /* Adjust this height as needed */
        overflow-y: auto;
        border-collapse: collapse;
        border: 1px solid #0073cc;
    }

    .round-selection-table-header, .round-selection-table-row {
        display: table-row;
    }

    .round-selection-table-cell {
        display: table-cell;
        padding: 10px;
        border: 1px solid #0073cc;
        text-align: left;
        background-color: #0073cc;
        color: white;
    }

    .round-selection-table-header {
        background-color: #0073cc;
        font-weight: bold;
    }

    .round-order-input {
        width: 50px;
        text-align: center;
        background-color: #0073cc;
        color: white;
        border: 1px solid #0073cc;
        padding: 5px;
    }

    .round-order-input::placeholder {
        color: white;
        opacity: 0.7;
    }
  </style>
{% endblock %}


{% block content %}
    <div class="container">
      {% if presentation_url %}
        <iframe src="{{ presentation_url }}" width="90%" height="auto" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="generate">Generate Slides</button>
        <button type="submit" name="action" value="update">Update Slides</button>

        <div class="round-selection-table">
            <div class="round-selection-table-header">
                <div class="round-selection-table-cell">Order</div>
                <div class="round-selection-table-cell">Round Title</div>
                <div class="round-selection-table-cell">Creator</div>
            </div>
            {% for title in avail_titles %}
            <div class="round-selection-table-row">
                <div class="round-selection-table-cell">
                    <input type="number" id="round_order_{{ forloop.counter0 }}" name="round_order_{{ forloop.counter0 }}" min="1" max="6" step="1" placeholder="Order" class="round-order-input">
                </div>
                <div class="round-selection-table-cell">
                    {{ title }}
                    <input type="hidden" name="round_title_{{ forloop.counter0 }}" value="{{ title }}">
                </div>
                <div class="round-selection-table-cell">
                    {{ avail_creators|index:forloop.counter0 }}
                    <input type="hidden" name="round_creator_{{ forloop.counter0 }}" value="{{ avail_creators|index:forloop.counter0 }}">
                </div>
            </div>
            {% endfor %}
        </div>
      </form>
    </div>
{% endblock %}
