{% extends 'base.html' %}
{% load GPTrivia_extras %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/player_analysis.css' %}">
{% endblock %}

{% block content %}
<select name="creators" id="creator-selector">
    <option value="" selected>-- Select a creator --</option>
    {% for creator in creators %}
    <option value="{{ creator }}">{{ creator }}</option>
    {% endfor %}
</select>

<select name="categories" id="category-selector">
    <option value="" selected>-- Select a category --</option>
    {% for category in categories %}
    <option value="{{ category }}">{{ category }}</option>
    {% endfor %}
</select>

<select name="players" id="player-selector" style="display: none">
    <option value="" selected>-- Select a player --</option>
    {% for player in players %}
    <option value="{{ player }}">{{ player }}</option>
    {% endfor %}
</select>

<div id="bar-chart"></div>
<div id="violin-chart" style="width:100%; height:500px;"></div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

    let playerColorMapping = {{ playerColorMapping|safe }};
    let players = {{ players|safe }};
    let rounds = {{ rounds|safe }};
    let mapping = {{ mapping|safe }};

    function updatePlotByFilters(selectedCreator, selectedCategory, selectedPlayer) {
        if (!selectedCreator && !selectedCategory && !selectedPlayer) {
            // Handle the default case (e.g., display a message or a default chart state)
            return;
        }

        // Implement different behaviors based on the combination of non-default values
        // Filter the rounds according to the selectedCreator, selectedCategory, and selectedPlayer
        // Calculate the scores to be displayed
        // Create and update the plot using Plotly.js according to the calculated scores
        if (selectedCreator && !selectedCategory && !selectedPlayer) {
            updateCreatorCategory(selectedCreator, "", "");
        } else if (!selectedCreator && selectedCategory && !selectedPlayer) {
            updateCreatorCategory("", selectedCategory, "");
        } else if (!selectedCreator && !selectedCategory && selectedPlayer) {
            updateCreatorCategory("", "", selectedPlayer);
        } else if (selectedCreator && selectedCategory && !selectedPlayer) {
            updateCreatorCategory(selectedCreator, selectedCategory, "");
        } else if (selectedCreator && !selectedCategory && selectedPlayer) {
            updateCreatorAndPlayer(selectedCreator, selectedPlayer);
        } else if (!selectedCreator && selectedCategory && selectedPlayer) {
            updateCategoryAndPlayer(selectedCategory, selectedPlayer);
        } else if (selectedCreator && selectedCategory && selectedPlayer) {
            updateCreatorCategoryAndPlayer(selectedCreator, selectedCategory, selectedPlayer);
        }
    }


    function updateCreatorCategory(selectedCreator, selectedCategory, selectedPlayer) {
        if (!selectedCreator && !selectedCategory && !selectedPlayer) {
            // Handle the default case (e.g., display a message or a default chart state)
            return;
        }

        // Filter rounds by the selected creator
        if (selectedCreator) {
            myrounds = rounds.filter((round) => round.creator === selectedCreator);
        } else {
            myrounds = rounds;
        }
        if (selectedCategory) {
            myrounds = myrounds.filter((round) => round.major_category === selectedCategory);
        }
        if (selectedPlayer) {
            myrounds = myrounds.filter((round) => round[mapping[selectedPlayer]] !== "");
        }

        // now we need to decide what we are iterating over to get the data for the bar chart
        if (selectedPlayer){
            mylist = players
        }
        else {
            mylist = players.filter((player) => player !== selectedCreator);
        }

        // Calculate the average scores for each player
        let averages = {};
        for (const item of mylist) {
            let totalScore = 0;
            let count = 0;
            //////// NEEDS TO CHANGE BASED ON WHETHER WE ARE ITERATING OVER PLAYERS, CATEGORIES, OR CREATORS
            for (let round of myrounds) {
                if (!selectedPlayer) {
                    if (round[mapping[item]] !== "") {
                        totalScore += round[mapping[item]]
                        count++;
                    }
                } else {
                    if (round["creator"] === item || round["creator"] === "Mom" || round["creator"] === "Dad") {
                        totalScore += round[mapping[selectedPlayer]]
                        count++;
                    }
                }
            }
            let averageScore = count ? totalScore / count : 0;
            averages[item] = averageScore;
            ////////
            if (myrounds.length === 0) {
                averages[item] = 0;
            }
        }


        // subtract the player's average score for the creator from the player's average score for all rounds
        if (!selectedPlayer) {
            averagesDiff = {};
            for (const item of mylist) {
                let totalScore = 0;
                let count = 0;
                for (let round of rounds) {
                    if (!selectedPlayer) {
                        if (round[mapping[item]] !== "") {
                            totalScore += round[mapping[item]];
                            count++;
                        }
                    } else {
                        if (round[mapping[selectedPlayer]] !== ""  || round["creator"] === "Mom" || round["creator"] === "Dad") {
                            totalScore += round[mapping[selectedPlayer]];
                            count++;
                        }
                    }
                }
                let averageScore = count ? totalScore / count : 0;
                averagesDiff[item] = averages[item] - averageScore;
                if (myrounds.length === 0) {
                    averagesDiff[item] = 0;
                }
            }
        } else {
            // Calculate the overall average
            let totalSum = 0;
            let totalCount = 0;
            for (const item of mylist) {
                totalSum += averages[item];
                totalCount++;
            }
            let overallAverage = totalSum / totalCount;

            // Subtract the overall average from each item's average
            averagesDiff = {};
            for (const item of mylist) {
                averagesDiff[item] = averages[item] - overallAverage;
            }
        }

        // remove the creator from the playerAveragesDiff
        if (selectedCreator) {
            delete averagesDiff[selectedCreator];
        }
        if (selectedPlayer) {
            delete averagesDiff[selectedPlayer];
        }
        // if the selected creator is mom, delete Debis from the playerAveragesDiff
        if (selectedCreator === "Mom") {
            delete averagesDiff["Debi"];
        }
        if (selectedPlayer === "Mom") {
            delete averagesDiff["Debi"];
        }
        // if the selected creator is Dad, delete Dan from the playerAveragesDiff
        if (selectedCreator === "Dad") {
            delete averagesDiff["Dan"];
        }
        if (selectedPlayer === "Dad") {
            delete averagesDiff["Dan"];
        }

        //sort the playerAveragesDiff
        averagesDiff = Object.fromEntries(
            Object.entries(averagesDiff).sort(([,a],[,b]) => b-a)
        );

        // Create trace data for the bar chart
        let traceData = [
            {
                x: Object.keys(averagesDiff),
                y: Object.values(averagesDiff),
                type: 'bar',
                marker: {
                    color: Object.keys(averagesDiff).map((player) => playerColorMapping[player]),
                },
                plot_bgcolor:'rgba(0,0,0,0)',
                paper_bgcolor:'rgba(0,0,0,0)',
                font: {
                    color: "#ffffff",
                },
            },
        ];

        // Create or update the chart using Plotly.js
        stg = selectedCreator ? selectedCreator : "All Creators";
        stg += selectedCategory ? ` ${selectedCategory}` : "";
        xax = selectedPlayer ? "Creator" : "Player";

        let layout = {
            title: `Average Scores by Player for ${stg} Rounds`,
            xaxis: {
                title: xax,
                color: "#ffffff",
            },
            yaxis: {
                title: 'Average Score Difference',
                color: "#ffffff",
            },
            plot_bgcolor:'rgba(0,0,0,0)',
            paper_bgcolor:'rgba(0,0,0,0)',
            font: {
                color: "#ffffff",
            },

        };

        Plotly.newPlot('bar-chart', traceData, layout);
        // also add a violin plot, using the data from the columns of the rounds table
        // for all creatorRounds, for each player, get the score for that round
        // for each player, create a list of scores
        // create a violin plot using the list of scores for each player


        let violinData = [];

        for (const playerName of players) {
            if (playerName === selectedCreator) {
                continue;
            }
            if (selectedCreator === "Mom" && playerName === "Debi") {
                continue;
            }
            if (selectedCreator === "Dad" && playerName === "Dan") {
                continue;
            }
            let scores = [];
            for (let round of rounds) {
                if (!selectedPlayer) {
                    if (round[mapping[playerName]] !== "") {
                        scores.push(round[mapping[playerName]]);
                    }
                } else {
                    if (round[mapping[selectedPlayer]] !== ""  || round["creator"] === "Mom" || round["creator"] === "Dad") {
                        scores.push(round[mapping[selectedPlayer]]);
                    }
                }
            }
            violinData.push({
                y: scores,
                type: 'violin',
                name: playerName,
                box: {
                    visible: true
                },
                meanline: {
                    visible: true,
                    color: "black",
                },
                line: {
                    color: playerColorMapping[playerName]
                },
                plot_bgcolor:'rgba(0,0,0,0)',
                paper_bgcolor:'rgba(0,0,0,0)',
                font: {
                    color: "#ffffff",
                },
            });
        }

        // again, subtract the player's average score for the creator from the player's average score for all rounds
// subtract the player's average score for the creator from the player's average score for all rounds
        {#if (!selectedPlayer) {#}
        {#    averagesDiff = {};#}
        {#    for (const item of mylist) {#}
        {#        let totalScore = 0;#}
        {#        let count = 0;#}
        {#        for (let round of rounds) {#}
        {#            if (!selectedPlayer) {#}
        {#                if (round[mapping[item]] !== "") {#}
        {#                    totalScore += round[mapping[item]];#}
        {#                    count++;#}
        {#                }#}
        {#            } else {#}
        {#                if (round[mapping[selectedPlayer]] !== ""  || round["creator"] === "Mom" || round["creator"] === "Dad") {#}
        {#                    totalScore += round[mapping[selectedPlayer]];#}
        {#                    count++;#}
        {#                }#}
        {#            }#}
        {#        }#}
        {#        let averageScore = count ? totalScore / count : 0;#}
        {#        averagesDiff[item] = averages[item] - averageScore;#}
        {#        if (myrounds.length === 0) {#}
        {#            averagesDiff[item] = 0;#}
        {#        }#}
        {#    }#}
        {#} else {#}
        {#    // Calculate the overall average#}
        {#    let totalSum = 0;#}
        {#    let totalCount = 0;#}
        {#    for (const item of mylist) {#}
        {#        totalSum += averages[item];#}
        {#        totalCount++;#}
        {#    }#}
        {#    let overallAverage = totalSum / totalCount;#}
        {##}
        {#    // Subtract the overall average from each item's average#}
        {#    averagesDiff = {};#}
        {#    for (const item of mylist) {#}
        {#        averagesDiff[item] = averages[item] - overallAverage;#}
        {#    }#}
        {#}#}


        for (let i = 0; i < violinData.length; i++) {
            let totalScore = 0;
            let count = 0;
            for (let round of myrounds) {
                if (round[mapping[violinData[i].name]] !== "") {
                    totalScore += round[mapping[violinData[i].name]];
                    count++;
                }
            }
            let averageScore = count ? totalScore / count : 0;

            violinData[i].y = violinData[i].y.map((score) => averageScore - score);
            if (myrounds.length === 0) {
                violinData[i].y = [0];
            }
        }

        // and sort the violinData
        violinData.sort((a, b) => b.y.reduce((a, b) => a + b, 0) / b.y.length - a.y.reduce((a, b) => a + b, 0) / a.y.length);

        stg = selectedCreator ? selectedCreator : "All Creators";
        stg += selectedCategory ? ` ${selectedCategory}` : "";
        xax = selectedPlayer ? "Creator" : "Player";

        let violinLayout = {
            title: `Scores by Player for ${stg}'s Rounds`,
            xaxis: {
                title: xax,
                color: "#ffffff",
            },
            yaxis: {
                title: 'Average Score Difference',
                color: "#ffffff",
            },
            plot_bgcolor:'rgba(0,0,0,0)',
            paper_bgcolor:'rgba(0,0,0,0)',
            font: {
                color: "#ffffff",
            },
        };

        Plotly.newPlot('violin-chart', violinData, violinLayout);
    }

    // Initialize the plot with some default value if needed
    updatePlotByFilters('', '', '');

    // Update event listeners
    document.getElementById('creator-selector').addEventListener('change', function () {
        const selectedCreator = this.value;
        const selectedCategory = document.getElementById('category-selector').value;
        const selectedPlayer = document.getElementById('player-selector').value;
        updatePlotByFilters(selectedCreator, selectedCategory, selectedPlayer);
    });

    document.getElementById('category-selector').addEventListener('change', function () {
        const selectedCreator = document.getElementById('creator-selector').value;
        const selectedCategory = this.value;
        const selectedPlayer = document.getElementById('player-selector').value;
        updatePlotByFilters(selectedCreator, selectedCategory, selectedPlayer);
    });

    document.getElementById('player-selector').addEventListener('change', function () {
        const selectedCreator = document.getElementById('creator-selector').value;
        const selectedCategory = document.getElementById('category-selector').value;
        const selectedPlayer = this.value;
        updatePlotByFilters(selectedCreator, selectedCategory, selectedPlayer);
    });
</script>
{% endblock %}