<!-- GPTrivia/player_profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/player_profile.css' %}">
{% endblock %}

{% block extra_meta %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'player_profile' player_name=player_name %}" class="player_name" data-player='{{ player_name }}'>{{ player_name }}</a>'s Profile</h1>

    <div class="content-wrapper">
        <div class="profile-actions-container">
            <div id="picdiv_mob">
                <div>
                    <img id="profpic_mob" src="{{ profile_user.profile.profile_picture.url }}" alt="{{ player_name }}'s Profile Picture">
                </div>
            </div>

            <div id="roundbuttons">
                <h2>Creator Information:</h2>
                <button class="expand-collapse-button" id="toggleTable" onclick="toggleCreatedRounds()">Created Round Category Counts</button>
                <button class="expand-collapse-button" id="roundsButton" onclick="toggleRounds()">Show/Hide Created Rounds</button>
                {% if user.is_authenticated and user.username == player_name %}
                <div>
                    <form method="post" action="{% url 'upload_profile_picture' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <button class="expand-collapse-button" type="submit">Upload</button>
                    </form>
                </div>
                {% endif %}
                {% if user.is_authenticated and user.username == player_name %}
                    <form action={% url 'password_change' %}>
                        <button class="expand-collapse-button" id="passwordbtn">Change Password</button>
                    </form>
                {% endif %}
            </div>

            <div id="picdiv_reg">
                <div>
                    <img id="profpic_reg" src="{{ profile_user.profile.profile_picture.url }}" alt="{{ player_name }}'s Profile Picture">
                </div>
            </div>

        </div>

                <div class="table-container">
                {% if created_rounds_cat %}
                    <table cellpadding="5" cellspacing="0" id="createdRoundsTable" style="display: none;">
                        <thead>
                            <tr>
                                <th>Major Category</th>
                                <th>Number of Rounds</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for round in created_rounds_cat %}
                                <tr>
                                    <td>{{ round.major_category }}</td>
                                    <td>{{ round.num_rounds }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No rounds created.</p>
                {% endif %}

                {% if created_rounds %}
                    <table cellpadding="5" cellspacing="0" id="playerRoundsTable" style="display: none;">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th class="score-col">Max Score</th>
                                <th>Rd</th>
                                <th>Coop</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for round in created_rounds %}
                                <tr>
                                    <td>{{ round.title }}</td>
                                    <td>{{ round.date }}</td>
                                    <td>{{ round.major_category }}</td>
                                    <td class="score-col">{{ round.max_score }}</td>
                                    <td>{{ round.round_number }}</td>
                                    <td>{{ round.cooperative }}</td>
                                    <td><button class="slides-button" type="button" data-presentation-url={{ round.link }}>Slides</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No rounds created.</p>
                {% endif %}
            </div>



        <div class="summary-stats">
            <h2>Summary Stats:</h2>
            <p>Number of Rounds Played: {{ total_rounds }}</p>
            <p>Number of Rounds Created: {{ created_rounds_count }}</p>
            <p>Strongest Category: {{ max_avg }}</p>
            <p>Weakest Category: {{ min_avg }}</p>
            <p>Easiest Creator: <a href="{% url 'player_profile' player_name=max_cat_avg %}" class="player_name" data-player="{{ max_cat_avg }}">{{ max_cat_avg }}</a> </p>
            <p>Hardest Creator: <a href="{% url 'player_profile' player_name=min_cat_avg %}" class="player_name" data-player="{{ min_cat_avg }}">{{ min_cat_avg }}</a></p>
            <p>Most biased toward {{ player_name }}: <a href="{% url 'player_profile' player_name=max_bias_avg %}" class="player_name" data-player="{{ max_bias_avg }}">{{ max_bias_avg }}</a> ({{ max_bias_avg_value }}) </p>
            <p>Most biased against {{ player_name }}: <a href="{% url 'player_profile' player_name=min_bias_avg %}" class="player_name" data-player="{{ min_bias_avg }}">{{ min_bias_avg }}</a> ({{ min_bias_avg_value }}) </p>
        </div>

    </div>



{#    {% if user.is_authenticated and user.username == player_name %}#}
{#        <form action={% url 'profilepic' %}>#}
{#            <button class="expand-collapse-button" id="picbtn">Upload Profile Pic</button>#}
{#        </form>#}
{#    {% endif %}#}

    <script>
          let playerColorMapping = {{ player_color_mapping|safe }};
          let playerName = "{{ player_name }}";
          let textColor = "{{ text_color }}";

          function setButtonColors() {
            let playerColor = playerColorMapping[playerName];
            const categoryButton = document.getElementById("categoryButton");
            const roundsButton = document.getElementById("roundsButton");
            expandCollapseButton = document.getElementsByClassName("expand-collapse-button");
            for (let i = 0; i < expandCollapseButton.length; i++) {
                expandCollapseButton[i].style.backgroundColor = playerColor;
                expandCollapseButton[i].style.color = textColor;
            }
            let slidesButton = document.getElementsByClassName("slides-button");
            for (let i = 0; i < slidesButton.length; i++) {
                slidesButton[i].style.backgroundColor = playerColor;
                slidesButton[i].style.color = textColor;
                // no border
                slidesButton[i].style.border = "none";
                // on hover, darken the color
                slidesButton[i].addEventListener("mouseover", function() {
                    slidesButton[i].style.backgroundColor = darkenColor(playerColor);
                });
                // on mouseout, reset the color
                slidesButton[i].addEventListener("mouseout", function() {
                    slidesButton[i].style.backgroundColor = playerColor;
                });
            }
          }

          //darken the color by 10% (the color is represented as a hex string
            //so we need to convert it to a number, darken it, and then convert it back)
            function darkenColor(hexColor) {
                // Convert the hex color to RGB
                if (hexColor.startsWith('#')) {
                    hexColor = hexColor.slice(1);
                }

                // Convert the hex color to RGB
                const rgb = hexColor.match(/.{1,2}/g).map((color) => parseInt(color, 16));


                // Calculate the darkened RGB components
                const darkenedRgb = rgb.map((color) => {
                    const darkenedValue = Math.round(color * 0.85);
                    return Math.max(0, Math.min(255, darkenedValue));
                });

                // Convert the darkened RGB components back to hexadecimal
                const darkenedHex = darkenedRgb.map((color) => color.toString(16).padStart(2, '0')).join('');

                return `#${darkenedHex}`;
            }


        function toggleRounds() {
            const roundsList = document.getElementById('playerRoundsTable');
            const createList = document.getElementById('createdRoundsTable');
            if (roundsList.style.display === "none") {
                roundsList.style.display = "block";
                if (createList.style.display === "table") {
                    createList.style.display = "none";
                }
            } else {
                roundsList.style.display = "none";
            }
        }

        function toggleCreatedRounds() {
            const roundsList = document.getElementById('playerRoundsTable');
            const createList = document.getElementById('createdRoundsTable');
            if (createList.style.display === "none") {
                createList.style.display = "table";
                if (roundsList.style.display === "block") {
                    roundsList.style.display = "none";
                }
            } else {
                createList.style.display = "none";
            }
        }

        {#document.getElementById("toggleTable").addEventListener("click", function() {#}
        {#    let table = document.getElementById("createdRoundsTable");#}
        {#    if (table.style.display === "none") {#}
        {#        table.style.display = "block";#}
        {#    } else {#}
        {#        table.style.display = "none";#}
        {#    }#}
        {#});#}



        window.onload = setButtonColors;

        const buttons = document.querySelectorAll(".expand-collapse-button");

        buttons.forEach(link => {
            const playerColor = playerColorMapping[playerName];

            link.addEventListener('mouseover', () => {
                link.style.backgroundColor = darkenColor(playerColorMapping[playerName]);
            });

            link.addEventListener('mouseout', () => {
                link.style.backgroundColor = playerColorMapping[playerName];
            });
        });

    const playerLinks = document.querySelectorAll(".player_name");

        playerLinks.forEach(link => {
            const playerName = link.getAttribute('data-player');
            const playerColor = playerColorMapping[playerName];

            link.addEventListener('mouseover', () => {
                link.style.color = playerColor;
            });

            link.addEventListener('mouseout', () => {
                link.style.color = '';
            });
        });

        $(document).ready(function () {
            $(".slides-button").click(function () {
                var presentationUrl = $(this).data("presentation-url");

                // Find the row containing the clicked button
                var $row = $(this).closest("tr");

                // Check if the iframe already exists
                var $iframe = $row.next("tr.slides-iframe-row");

                if ($iframe.length) {
                    // If the iframe exists, toggle its visibility
                    $iframe.toggle();
                } else {
                    // If the iframe doesn't exist, create a new row and the iframe
                    var $newRow = $('<tr class="slides-iframe-row"><td colspan="7" height="500px"></td></tr>');
                    var $iframeCell = $newRow.children("td");

                    var iframe = $('<iframe>', {
                        src: presentationUrl,
                        width: "100%",
                        height: "100%",
                        aspectRatio: "16:9",
                        frameborder: "0",
                        allowfullscreen: "true",
                        mozallowfullscreen: "true",
                        webkitallowfullscreen: "true"
                    });

                    // Append the iframe to the new cell and insert the row after the current row
                    $iframeCell.append(iframe);
                    $row.after($newRow);
                }
            });
        });



    </script>
{% endblock %}