{% extends 'base.html' %}
{% load GPTrivia_extras %}
{% block content %}
<div>
<label for="creator-selector">Choose a creator:</label>
<select name="creators" id="creator-selector"  onchange="updatePlot()">
</select>
</div>

<div>
<label for="category-selector">Choose a category:</label>
<select name="categories" id="category-selector"  onchange="updateCatPlot()">
</select>
</div>


<div id="bar-chart"></div>
<div id="violin-chart" style="width:100%; height:500px;"></div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

    let player_name_mapping = {
        'score_alex': 'alex',
        'score_ichigo': 'ichigo',
        'score_megan': 'megan',
        'score_zach': 'zach',
        'score_jenny': 'jenny',
        'score_debi': 'debi',
        'score_dan': 'dan',
        'score_chris': 'chris',
        'score_drew': 'drew'
    };

    let playerColorMapping = {{ player_color_mapping|safe }};
    let playerScores = {{ player_scores|safe }};
    let playerCatAverages = {{ player_cat_averages|safe }};
    let playerAverages = {{ player_averages|safe }};
    let playerCatScores = {{ player_cat_scores|safe }};

    let players = ['score_alex', 'score_ichigo', 'score_megan', 'score_zach', 'score_jenny', 'score_debi',
                   'score_dan', 'score_chris', 'score_drew'];

    let player_names = players.map(player => player.replace('score_', '').replace('__avg', ''));
    // Populate dropdown with creator names
    let creatorSelector = document.getElementById('creator-selector');
    playerAverages.forEach((item, index) => {
        let option = document.createElement('option');
        option.value = index;
        option.textContent = item.creator;
        creatorSelector.appendChild(option);
    });

    let categorySelector = document.getElementById('category-selector');
    playerCatAverages.forEach((item, index) => {
        let option = document.createElement('option');
        option.value = index;
        option.textContent = item.category;
        categorySelector.appendChild(option);
    });

    function updatePlot(creatorIndex) {
        let y_values_list = players.map(player => playerAverages[creatorIndex].hasOwnProperty(player + '__avg') ? playerAverages[creatorIndex][player + '__avg'] : undefined);

        let combined = players.map((player, index) => ({ player: player.slice(6), score: y_values_list[index] }));

        // Step 2: Sort the new array based on the scores
        combined.sort((a, b) => b.score - a.score);

        // Step 3: Create separate arrays for the sorted player names and scores
        let sortedPlayers = combined.map(item => item.player);
        let sortedScores = combined.map(item => item.score);

        // Step 4: Calculate the color for each bar based on the score
        let colors = sortedScores.map(score => score > 0 ? 'green' : 'red');


        let trace = {
            x: sortedPlayers,
            y: sortedScores,
            type: 'bar',
            marker: { color: colors }
        };

        let data = [trace];

        let layout = {
            title: 'Average Scores per Player for Creator: ' + playerAverages[creatorIndex].creator,
            xaxis: {
                title: 'Players'
            },
            yaxis: {
                title: 'Average Scores'
            },
            coloraxis: {
                cmin: Math.min(...y_values_list),
                cmax: Math.max(...y_values_list)
            }
        };

        Plotly.newPlot('bar-chart', data, layout);
    }

    function updateCatPlot(categoryIndex) {
        let y_values_list = players.map(player => playerCatAverages[categoryIndex].hasOwnProperty(player + '__avg') ? playerCatAverages[categoryIndex][player + '__avg'] : undefined);

        let combined = players.map((player, index) => ({ player: player.slice(6), score: y_values_list[index] }));

        // Step 2: Sort the new array based on the scores
        combined.sort((a, b) => b.score - a.score);

        // Step 3: Create separate arrays for the sorted player names and scores
        let sortedPlayers = combined.map(item => item.player);
        let sortedScores = combined.map(item => item.score);

        // Step 4: Calculate the color for each bar based on the score
        let colors = sortedScores.map(score => score > 0 ? 'green' : 'red');

        let trace = {
            x: sortedPlayers,
            y: sortedScores,
            type: 'bar',
            marker: { color: colors }
        };

        let data = [trace];

        // Sort playerAverages by mean of normalized scores in descending order
        playerAverages.sort((a, b) => {
            let meanA = (Object.values(a).reduce((sum, score) => sum + score, 0) - a.creator) / (Object.keys(a).length - 1);
            let meanB = (Object.values(b).reduce((sum, score) => sum + score, 0) - b.creator) / (Object.keys(b).length - 1);
            return meanB - meanA;
        });


        let layout = {
            title: 'Average Scores per Player for Category: ' + playerCatAverages[categoryIndex].category,
            xaxis: {
                title: 'Players'
            },
            yaxis: {
                title: 'Average Scores'
            },
            coloraxis: {
                cmin: Math.min(...y_values_list),
                cmax: Math.max(...y_values_list)
            }
        };

        Plotly.newPlot('bar-chart', data, layout);
    }

    function updateViolinPlot(creatorIndex) {
        let creator = playerAverages[creatorIndex].creator;
        let all_scores = {};

        for (let i = 0; i < playerScores.length; i++) {
            if (playerScores[i].creator === creator) {
                all_scores = playerScores[i].scores;
                break;
            }
        }

        // Calculate the means of the normalized scores
        let playerMeans = players.map(player => {
            let scores = all_scores.map(score => score[player]).filter(score => score !== undefined);
            let mean = scores.length > 0 ? scores.reduce((a, b) => a + b, 0) / scores.length : 0;
            return {
                player: player,
                mean: mean,
            };
        });

        // Sort players by mean of normalized scores in descending order
        playerMeans.sort((a, b) => b.mean - a.mean);

        // Update x-axis labels with the sorted player names
        let sortedPlayers = playerMeans.map(meanObj => meanObj.player);
        let creator_as_player = creator.toLowerCase();
        if (creator === 'Dad') creator_as_player = 'dan';
        if (creator === 'Mom') creator_as_player = 'debi';

        let sortedPlayerNames = sortedPlayers
        .map(player => {
            if (player === `score_${creator_as_player}__avg`) {
                return creator_as_player;
            } else {
                return player_names[players.indexOf(player.replace('__avg', ''))];
            }
        })
        .filter(name => name !== creator_as_player);


        let data = sortedPlayers.map((player) => {
            let scores = all_scores.map(score => score[player]).filter(score => score !== undefined);
            let playerName = player.replace("score_", "");
            playerName = playerName[0].toUpperCase() + playerName.slice(1);

            return {
                y: scores,
                type: 'violin',
                name: playerName,
                box: {
                    visible: true
                },
                line: {
                    color: playerColorMapping[playerName]
                },
                meanline: {
                    visible: true,
                    color: "black"
                },
                marker: {
                    color: playerColorMapping[playerName]
                }
            };
        });

        let layout = {
            title: 'Score Distribution per Player for ' + creator,
            xaxis: {
                title: 'Players',
                tickvals: Array.from(Array(sortedPlayerNames.length).keys()),
                ticktext: sortedPlayerNames
            },
            yaxis: {
                title: 'Scores'
            },
            showlegend: false
        };

        Plotly.newPlot('violin-chart', data, layout);
    }

    function getSortedPlayers(playerScores, categoryIndex) {
    // Step 1: Calculate the mean for each player
    let player_means = players.map(player => {
        let scores = playerScores
            .filter(score => score.category === playerCatAverages[categoryIndex].category)
            .map(score => score[player])
            .filter(score => score !== undefined);
        let sum = scores.reduce((a, b) => a + b, 0);
        let mean = sum / scores.length;
        return { player: player, mean: mean };
    });

    // Step 2: Sort the players by mean in descending order
    player_means.sort((a, b) => b.mean - a.mean);

    // Step 3: Return the sorted players
    return player_means.map(item => item.player);
}

    function updateCatViolinPlot(categoryIndex) {
        let category = playerCatAverages[categoryIndex].category;
        let all_scores = {};

        let filteredScores = playerCatScores.filter(score => score.category === category);

        if (filteredScores.length > 0) {
            all_scores = filteredScores[0].scores;
        } else {
            all_scores = [];
        }

            // Calculate the means of the normalized scores
        let playerMeans = players.map(player => {
            let scores = all_scores.map(score => score[player]).filter(score => score !== undefined);
            let mean = scores.length > 0 ? scores.reduce((a, b) => a + b, 0) / scores.length : 0;
            return {
                player: player,
                mean: mean,
            };
        });

        // Sort players by mean of normalized scores in descending order
        playerMeans.sort((a, b) => b.mean - a.mean);

        // Update x-axis labels with the sorted player names
        let sortedPlayers = playerMeans.map(meanObj => meanObj.player);

        let sortedPlayerNames = sortedPlayers



        let data = sortedPlayers.map((player) => {
            let scores = all_scores.map(score => score[player]).filter(score => score !== undefined);
            let playerName = player.replace("score_", "");
            playerName = playerName[0].toUpperCase() + playerName.slice(1);

            return {
                y: scores,
                type: 'violin',
                name: playerName,
                box: {
                    visible: true
                },
                line: {
                    color: playerColorMapping[playerName]
                },
                meanline: {
                    visible: true,
                    color: "black"
                },
                marker: {
                    color: playerColorMapping[playerName]
                }
            };
        });

        let layout = {
            title: 'Score Distribution per Player for ' + category,
            xaxis: {
                title: 'Players',
                tickvals: Array.from(Array(sortedPlayerNames.length).keys()),
                ticktext: sortedPlayerNames
            },
            yaxis: {
                title: 'Scores'
            },
            showlegend: false
        };

        Plotly.newPlot('violin-chart', data, layout);
    }


    updateViolinPlot(0);
    updateCatViolinPlot(0);
    updatePlot(0);
    updateCatPlot(0);

    document.getElementById('creator-selector').addEventListener('change', function() {
        updatePlot(this.value);
        updateViolinPlot(this.value);
    });

    document.getElementById('category-selector').addEventListener('change', function() {
        updateCatPlot(this.value);
        updateCatViolinPlot(categorySelector.selectedIndex);
    });



</script>
{% endblock %}