{% extends "base.html" %}
{% load GPTrivia_extras %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/rounds_list.css' %}">
{% endblock %}

{% block extra_meta %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#96031A">
{% endblock %}



{% block content %}

<div class="table-container">
    <table id="roundList">
        <thead id="roundListHead">
            <tr>
                <th class="left-column">Title <input type="text" placeholder="Search" onkeyup="filterTable(this, 1)"></th>
                <th>Creator <input type="text" placeholder="Search" onkeyup="filterTable(this, 2)"></th>
                <th>Major Category <input type="text" placeholder="Search" onkeyup="filterTable(this, 3)"></th>
                <th>Minor Category 1 <input type="text" placeholder="Search" onkeyup="filterTable(this, 4)"></th>
                <th>Date <input type="text" placeholder="Search" onkeyup="filterTable(this, 5)"></th>
                <th>Round Number <input type="text" placeholder="Search" onkeyup="filterTable(this, 6)"></th>
                <th>Max Score <input type="text" placeholder="Search" onkeyup="filterTable(this, 7)"></th>
                <th>Coop<input type="text" placeholder="Search" onkeyup="filterTable(this, 8)"></th>
                <th>Replay<input type="text" placeholder="Search" onkeyup="filterTable(this, 9)"></th>
                <th>Link<input type="text" placeholder="Search" onkeyup="filterTable(this, 10)"></th>
                <th><a href="{% url 'player_profile' player_name="Alex" %}" class="player_name" data-player="Alex">Alex</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 11)"></th>
                <th><a href="{% url 'player_profile' player_name="Chris" %}" class="player_name" data-player="Chris">Chris</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 12)"></th>
                <th><a href="{% url 'player_profile' player_name="Ichigo" %}" class="player_name" data-player="Ichigo">Ichigo</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 13)"></th>
                <th><a href="{% url 'player_profile' player_name="Megan" %}" class="player_name" data-player="Megan"}>Megan</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 14)"></th>
                <th><a href="{% url 'player_profile' player_name="Zach" %}" class="player_name" data-player="Zach">Zach</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 15)"></th>
                <th><a href="{% url 'player_profile' player_name="Jenny" %}" class="player_name" data-player="Jenny">Jenny</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 16)"></th>
                <th><a href="{% url 'player_profile' player_name="Debi" %}" class="player_name" data-player="Debi">Debi</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 17)"></th>
                <th><a href="{% url 'player_profile' player_name="Dan" %}" class="player_name" data-player="Dan">Dan</a><input type="text" placeholder="Search" onkeyup="filterTable(this, 18)"></th>
                <th><a href="{% url 'player_profile' player_name="Drew" %}" class="player_name" data-player="Drew">Drew</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 19)"></th>
                <th><a href="{% url 'player_profile' player_name="Paige" %}" class="player_name" data-player="Paige">Paige</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 20)"></th>
                <th><a href="{% url 'player_profile' player_name="Dillon" %}" class="player_name" data-player="Dillon">Dillon</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 21)"></th>
                <th><a href="{% url 'player_profile' player_name="Jeff" %}" class="player_name" data-player="Jeff">Jeff</a> <input type="text" placeholder="Search" onkeyup="filterTable(this, 22)"></th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for round in rounds %}
                <tr>
            <td class="title-cell">{{ round.title }}</td>
            {% with player_class=round.creator %}
                <td>
                    {% if round.creator %}
                        <a href="{% url 'player_profile' player_name=round.creator %}" class="player_name" data-player="{{ player_class }}">{{ round.creator }}</a>
                    {% else %}
                        {{ round.creator }}
                    {% endif %}
                </td>
            {% endwith %}
            <td>{{ round.major_category }}</td>
            <td>{{ round.minor_category1 }}</td>
            <td>{{ round.date }}</td>
            <td>{{ round.round_number }}</td>
            <td>{{ round.max_score }}</td>
            <td>{{ round.cooperative }}</td>
            <td>{{ round.replay }}</td>
            <td><button class="slides-button" type="button" data-presentation-url="{{ round.link|replace:'embed?start=false&,edit#' }}">Slides</button></td>
            <td>{{ round.score_alex }}</td>
            <td>{{ round.score_chris }}</td>
            <td>{{ round.score_ichigo }}</td>
            <td>{{ round.score_megan }}</td>
            <td>{{ round.score_zach }}</td>
            <td>{{ round.score_jenny }}</td>
            <td>{{ round.score_debi }}</td>
            <td>{{ round.score_dan }}</td>
            <td>{{ round.score_drew }}</td>
            <td>{{ round.score_paige }}</td>
            <td>{{ round.score_dillon }}</td>
            <td>{{ round.score_jeff }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    // Define an object to store the filter values for each column
    var columnFilters = {};

    playerColorMapping = {{ playerColorMapping|safe }}
    textColorMapping = {{ text_color_mapping|safe }};

    function updateSlidesButtonColor() {
        $('.slides-button').each(function () {
            // Get the creator's name from the corresponding cell in the row
            var creatorName = $(this).closest('tr').find('.player_name').text();

            // Get the color for the creator from the playerColorMapping object
            var creatorColor = playerColorMapping[creatorName];

            // Set the background color of the slides button
            $(this).css('background-color', creatorColor);
            // set the text color of the slides button

            $(this).css('color', textColorMapping[creatorName]);
            // remove the border from the slides button
            $(this).css('border', 'none');
            // add hover effect to the slides button
            $(this).hover(function () {
                $(this).css('opacity', '0.5');
            }, function () {
                $(this).css('opacity', '1');
            });
        });
    }



    function filterTable(input, index) {
        // If the key pressed was not enter, do nothing
        if (event.keyCode != 13) {
            return;
        }

        // Update the filter value for the current column
        columnFilters[index] = input.value.toUpperCase();

        var table, tr, td, i, txtValue;
        table = document.getElementsByTagName("table")[0];
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows
        for (i = 0; i < tr.length; i++) {
            // Assume the row should be displayed initially
            var displayRow = true;

            // Loop through all columns and their filters
            for (const [columnIndex, filter] of Object.entries(columnFilters)) {
                // Skip if the filter is empty
                if (!filter) {
                    continue;
                }

                td = tr[i].getElementsByTagName("td")[parseInt(columnIndex)];

                // If there's a value in the cell, check if it matches the filter
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) === -1) {
                        // If the cell value doesn't match the filter, the row should not be displayed
                        displayRow = false;
                        break;
                    }
                }
            }

            // Set the row display based on the displayRow variable
            tr[i].style.display = displayRow ? "" : "none";
        }
        // Remove existing cloned cells
        // Remove existing cloned cells and show original cells
        const clonedCells = document.getElementsByClassName("cloned-cell");
        const originalCells = document.getElementsByClassName("hide-original-cell");
        while (clonedCells[0]) {
            clonedCells[0].parentNode.removeChild(clonedCells[0]);
            originalCells[0].classList.remove("hide-original-cell");
        }
        // Recreate cloned cells and hide original cells
        createClonedCells();
    }


function addStickyHeader() {
    const table = document.getElementById("roundList");
    const headerCells = table.querySelectorAll("th");

    // Loop through all header cells and add the sticky-header class
    for (let i = 0; i < headerCells.length; i++) {
        headerCells[i].classList.add("sticky-header");
    }

    // Add the sticky-top-left class to the top-left header cell
    headerCells[0].classList.add("sticky-top-left");
}

// Call the function to add the sticky-header class to header cells
addStickyHeader();


function createClonedCells() {
    const table = document.getElementById("roundList");
    const rows = table.getElementsByTagName("tr");

    // Loop through all rows in the table
    for (let i = 0; i < rows.length; i++) {
        const originalCell = rows[i].getElementsByTagName("td")[0] || rows[i].getElementsByTagName("th")[0];
        const clonedCell = originalCell.cloneNode(true);
        clonedCell.classList.add("cloned-cell");

        // Insert the cloned cell before the original cell
        rows[i].insertBefore(clonedCell, originalCell);

        // Hide the original cell
        originalCell.classList.add("hide-original-cell");
    }
}

// Call the function to create cloned cells
createClonedCells();

const playerLinks = document.querySelectorAll(".player_name");

    playerLinks.forEach(link => {
        const playerName = link.getAttribute('data-player');
        const playerColor = playerColorMapping[playerName];

        link.addEventListener('mouseover', () => {
            link.style.color = playerColor;
        });

        link.addEventListener('mouseout', () => {
            link.style.color = '';
        });
    });


    $(document).ready(function() {
        updateSlidesButtonColor();
        // on click, open the slides in a new tab
        $('.slides-button').click(function() {
            window.open($(this).data('presentation-url'), '_blank');
        });
    });
</script>


{% endblock %}