{% extends 'base.html' %}
{% load static %}
{% load static GPTrivia_extras %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/scoresheet.css' %}">
{% endblock %}

{% block extra_meta %}
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>

    <script src="{% static '/jquery-tabledit-1.2.3/jquery.tabledit.min.js' %}"></script>    <!-- Include necessary extensions here -->
    <script src="{% static 'DataTables/Buttons-2.3.6/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'DataTables/ColReorder-1.6.2/js/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'DataTables/AutoFill-2.5.3/js/dataTables.autoFill.min.js' %}"></script>
    <script src="{% static 'DataTables/Responsive-2.4.1/js/dataTables.responsive.min.js' %}"></script>


    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}

    <div id="react-scoresheet"></div>

    <script src="{% static 'scoresheet/build/static/js/main.c2985a6f.js' %}"></script>
{% endblock %}