{% extends 'base.html' %}
{% load static %}
{% load static GPTrivia_extras %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'GPTrivia/css/scoresheet.css' %}">
{% endblock %}

{% block extra_meta %}
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>

    <script src="{% static '/jquery-tabledit-1.2.3/jquery.tabledit.min.js' %}"></script>    <!-- Include necessary extensions here -->
    <script src="{% static 'DataTables/Buttons-2.3.6/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'DataTables/ColReorder-1.6.2/js/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'DataTables/AutoFill-2.5.3/js/dataTables.autoFill.min.js' %}"></script>
    <script src="{% static 'DataTables/Responsive-2.4.1/js/dataTables.responsive.min.js' %}"></script>
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
    <h1>Trivia Scoresheet - {{ pres_name }}</h1>
    <select id="round-select">
        <option value="">- View Round -</option>
        {% for round_title in round_titles %}
            <option value="{{ forloop.counter0|add:1 }}">{{ round_title }}</option>
        {% endfor %}
    </select>
    <table id="scoresheet" class="display">
        <thead>
            <tr>
                <th>Player</th>
                <th id="joker_head">Joker Round</th>
                {% for round_title in round_titles %}
                    <th>{{ round_title }}</th>
                {% endfor %}
                <th>Creator Bonus</th>
                <th>Total Score</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td> <a href="{% url 'player_profile' player_name=player %}" class="player_name" data-player='{{ player }}'>{{ player }}</a> </td>
                    <td>
                        <select class="joker-dropdown" data-player="{{ player|lower }}">
                            <option value="">- Choose Joker -</option>
                            {% for round_title in round_titles %}
                                <option value="{{ round_title }}">{{ round_title }}</option>
                            {% endfor %}
                        </select>
                    </td> {# Joker Round column #}
                    {% for round_title, creator in round_titles|zip_lists:creators %}
                        {% with forloop.counter0|add:2 as column_index %}
                            <td class="{% if creator == player %}creator-cell{% endif %}" data-column-index="{{ column_index }}" data-round-title="{{ round_title }}"></td>
                        {% endwith %}
                    {% endfor %}
                    <td></td>  {# Creator Bonus column #}
                    <td></td>  {# Total Score column #}
                    <td><button class="btn-delete">X</button></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="nameinput">
        <div style="display: flex; align-items: center;">
            <input type="text" id="newPlayerName" placeholder="Enter player name">
            <button id="btn-add">+</button>
        </div>
        <button id="btn-save">Save Scoresheet</button>
    </div>



    <script>
        var dataTable;
        round_titles = {{ round_titles|safe }};
        creators = {{ creators|safe }};
        playerColorMapping = {{ player_color_mapping|safe }};
        const existingRounds = {{ existing_rounds|safe }};
        players = {{ players|safe }}
        pres_name = "{{ pres_name|safe }}"
        joker_round_indices = {{ joker_round_indices|safe }}
        console.log("joker_round_indices: " + joker_round_indices)

        // Iterate through each joker dropdown
        $('select.joker-dropdown[data-player]').each(function() {
            var dropdown = $(this);
            var playerName = dropdown.data('player');
            var selectedJokerRound = joker_round_indices[playerName];

            // Set the selected option based on the joker round index
            if (selectedJokerRound) {
                dropdown.val(selectedJokerRound);
            }
        });

        function debounce(func, wait) {
            var timeout;
            return function() {
                var context = this,
                    args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    func.apply(context, args);
                }, wait);
            };
        }

        var debouncedSaveScores = debounce(saveScores, 100);

        function formatDate(presName) {
            const parts = presName.split('.');
            const year = parts[2];
            const month = parts[0].padStart(2, '0');
            const day = parts[1].padStart(2, '0');

            return `${year}-${month}-${day}`;
        }

        const formatted_pres_name = formatDate(pres_name);


        function sendDataToServer(rounds, jokerRoundIndices) {
            var csrfToken = $('meta[name="csrf-token"]').attr('content');

            $.ajax({
                url: "/save_scores/", // Update this to match your server's API endpoint
                method: "POST",
                data: JSON.stringify({
                        rounds: rounds,
                        joker_round_indices: jokerRoundIndices,
                        presentation_id: "{{ presentation_id }}",
                    }),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    // Include the CSRF token as a header in the AJAX request
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                },
                success: function (response) {
                    console.log("Data saved successfully to presentation " + "{{ presentation_id }}");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error saving data: " + errorThrown);
                }
            });
        }

        function saveScores() {
            var rounds = [];
            var jokerRoundIndices = {};

            // Store the column headers in an array, skipping the first two columns ("Player" and "Joker") and the last four columns
            var columnHeader = [];
            $("#scoresheet thead tr th:gt(1):lt(-4)").each(function () {
                columnHeader.push($(this).text());
            });

            // Iterate through the round columns
            for (var roundIndex = 0; roundIndex < columnHeader.length; roundIndex++) {
                var round = {
                    creator: "",
                    title: columnHeader[roundIndex],
                    round_number: roundIndex + 1,
                    date: "{{ pres_name }}",
                    major_category: "",
                    minor_category1: "",
                    minor_category2: "",
                    max_score: 10,
                    score_alex: null,
                    score_ichigo: null,
                    score_megan: null,
                    score_zach: null,
                    score_jenny: null,
                    score_debi: null,
                    score_dan: null,
                    score_chris: null,
                    score_drew: null,
                    replay: false,
                    cooperative: false,
                };

                // Iterate through each player row
                $("#scoresheet tbody tr").each(function () {
                    var row = $(this);
                    var playerName = row.children("td:first").text().trim();
                    console.log("Player name:", playerName);

                    // Get the score cell for the current round
                    var roundScoreCell = row.children("td[data-column-index=" + (roundIndex + 2) + "]"); // Adjust the index here
                    var roundScore = roundScoreCell.children("input, span input").val(); // Modify the selector to target both input and span input
                    console.log("Round score cell:", roundScoreCell);
                    console.log("Round score:", roundScore);

                    // Check if the current cell has the 'creator-cell' class
                    var isCreator = roundScoreCell.hasClass("creator-cell");
                    if (isCreator) {
                        round.creator = playerName;
                    }

                    // Update the score for the current player
                    var parsedScore = parseFloat(roundScore);
                    if (!isNaN(parsedScore)) {
                        round[`score_${playerName.toLowerCase()}`] = parsedScore;
                    }

                    // Get the selected joker round index for the current player
                    var jokerRoundIndex = row.children("td:eq(1)").find("select").val();
                    jokerRoundIndices[playerName.toLowerCase()] = jokerRoundIndex;
                });


                rounds.push(round);
            }

            // Send data to the server
            sendDataToServer(rounds, jokerRoundIndices);
        };

        $("#btn-save").on("click", saveScores);

        function replaceNoneWithNull(rounds) {
            return rounds.map(round => {
                const newRound = { ...round };
                for (const key in newRound.fields) {
                    if (newRound.fields[key] === "null") {
                        newRound.fields[key] = null;
                    }
                }
                return newRound;
            });
        }

        $("#btn-add").on("click", function () {
                // Get the player name from the input
                var playerName = $("#newPlayerName").val().trim();

                // Check if a player name has been entered
                if (playerName === "") {
                    alert("Please enter a player name.");
                    return;
                }

                // Clone the second to last row in the table
                var rowCount = $("#scoresheet tbody tr").length;
                var $newRow = $("#scoresheet tbody tr:eq(" + (rowCount - 2) + ")").clone();

                // Update the player name in the new row
                var $playerLink = $newRow.find("td:first .player_name");
                $playerLink.text(playerName);
                $playerLink.attr('href', "/player_profile/" + playerName + "/"); // Update the href attribute
                $playerLink.attr('data-player', playerName); // Update the data-player attribute

                // Clear the other input values in the new row
                $newRow.find("input").val("");
                // Clear the Tabledit input values in the new row
                $newRow.find(".tabledit-input").val("");
                // also reset the value in the neighboring span
                $newRow.find(".tabledit-span").text("");

                // Reset the creator and joker cells
                $newRow.find("select")[0].selectedIndex = 0;
                $newRow.find('.joker-round-cell').removeClass('joker-round-cell');
                $newRow.find('.creator-cell').removeClass('creator-cell');

                // Reset the value in the creator bonus cell (numColumns - 4)
                $newRow.find("td:nth-last-child(4)").text("");




                // Change the color of the delete button
                if (playerName in playerColorMapping) {
                    playerColor = playerColorMapping[playerName];
                } else {
                    playerColor = "#000000";
                }


                $newRow.find(".btn-delete").css("background-color", playerColor);

                // Add the new row to the table
                $("#scoresheet tbody").append($newRow);
                dataTable.row.add($newRow).draw();

                // You may want to recalculate scores for the new row
                var $row = $newRow.closest('tr');
                calculateTotalScore($row);

                // Clear the player name input
                $("#newPlayerName").val("");
            });


        // Get all delete buttons
        const deleteButtons = document.querySelectorAll('.btn-delete');

        // Set the color of each delete button based on the player's name
        deleteButtons.forEach(btn => {
            // Get the player's name from the first cell of the parent row
            const playerName = btn.parentElement.parentElement.cells[0].innerText;
            // Get the color from the player color mapping
            if (playerName in playerColorMapping) {
                playerColor = playerColorMapping[playerName];
            } else {
                playerColor = "#000000";
            }

            // Set the background color of the delete button
            btn.style.backgroundColor = playerColor;
        });

        function updateCreatorBonus() {
            // Create an empty object to store the scores for each round
            var roundScores = {};

            // Iterate over each table row
            $('#scoresheet tbody tr').each(function() {
                var $row = $(this);

                // Iterate over each round cell
                $row.find('td[data-round-title]').each(function() {
                    var roundTitle = $(this).data('round-title');
                    var score = parseInt($(this).text().trim(), 10);

                    if (!isNaN(score)) {
                        if (!roundScores[roundTitle]) {
                            roundScores[roundTitle] = [];
                        }
                        roundScores[roundTitle].push(score);
                    }
                });
            });

            // Calculate the median for each round and assign it to the corresponding creator bonus cell
            {% for creator, round_title in creators|zip_lists:round_titles %}
                var creatorBonus = 0;
                if (roundScores['{{ round_title }}']) {
                    var scores = roundScores['{{ round_title }}'].sort(function(a, b) { return a - b; });
                    var mid = Math.floor(scores.length / 2);
                    creatorBonus = (scores.length % 2) ? scores[mid] : (scores[mid - 1] + scores[mid]) / 2;
                }
                $('#scoresheet tbody tr:contains("{{ creator }}") td:eq({{ round_titles|length|add:2 }})').text(creatorBonus);
                // also update that row's total score
                calculateTotalScore($('#scoresheet tbody tr:contains("{{ creator }}")'), false);
            {% endfor %}
        }

        function calculateTotalScore($row, updateCB=true) {
            var totalScore = 0;
            var creatorBonusIndex = 2 + {{ round_titles|length }};
            var jokerRoundIndex = 1;
            var totalScoreIndex = creatorBonusIndex + 1;

            var jokerRound = $row.children().eq(jokerRoundIndex).find('select').val();

            $row.children().each(function (index, cell) {
                if (index !== totalScoreIndex && index !== jokerRoundIndex) {
                    var cellValue = parseFloat($(cell).text().trim(), 10);

                    // Check if the current column matches the selected Joker Round
                    if (jokerRound && index === round_titles.indexOf(jokerRound) + 2) {
                        cellValue *= 2;
                    }

                    if (!isNaN(cellValue)) {
                        totalScore += cellValue;
                    }
                }
            });

            // Clear joker-round-cell class from previous selections
            $row.find('.joker-round-cell').removeClass('joker-round-cell');

            // Get the selected joker round title
            var jokerRoundTitle = $row.find('td:eq(1) select').val();

            // Find the cell with the matching data-round-title attribute and add the joker-round-cell class
            $row.find('td[data-round-title="' + jokerRoundTitle + '"]').addClass('joker-round-cell');

            {#$row.children().eq(totalScoreIndex).text(totalScore);#}
            {#$row.children().eq(totalScoreIndex).html('<span class="row-index">' + totalScore.toString() + '</span>');#}
            $row.children().eq(totalScoreIndex).html('<span data-total-score="' + totalScore + '">' + totalScore + '</span>');



            if (updateCB) {
                updateCreatorBonus();
            }

            debouncedSaveScores()
        }


        $(document).ready(function() {
            var numColumns = $('#scoresheet thead th').length;
            var numericColumns = [];

            for (var i = 2; i < numColumns; i++) {
                numericColumns.push({ type: 'num', targets: i });
            }

            $('table#scoresheet').on('change', 'tbody tr td select', function() {
                var $row = $(this).closest('tr');
                calculateTotalScore($row);
            });

            var isUpdating = false;

            dataTable = $('#scoresheet').DataTable({
                // DataTables options here
                colReorder: true,
                searching: false,
                lengthChange: false,
                info: false,
                paging: false,
                responsive: false,
                order: [
                    [0, 'asc'], // Sort the first column in ascending order
                    [1, 'desc'], // Sort the second column in descending order
                ],
                // This is necessary to invalidate the old table when the data changes
                drawCallback: function () {
                    if (isUpdating) {
                        return;
                    }
                    isUpdating = true;
                    $('#scoresheet tbody tr').each(function () {
                        var $row = $(this);
                        calculateTotalScore($row, false);
                    });
                    this.api().rows().invalidate().draw('page');
                    isUpdating = false;
                },
                columnDefs: [
                    {
                        // Disable sorting for the Joker Round column
                        // also disable sorting for the last column
                        targets: [1, numColumns - 2, numColumns-1],
                        orderable: false,
                    },
                    {
                        targets: [numColumns-1],
                        visible: true,
                        width: '1%',
                    },
                    {
                        targets:[1],
                        visible: true,
                        width: '200px',
                    }
                ]
            });

            $('#round-select').on('change', function() {
                var roundIndex = parseInt($(this).val(), 10);
                dataTable.columns().visible(false);
                dataTable.column(0).visible(true);
                dataTable.column(1).visible(true);
                dataTable.column(roundIndex+1).visible(true);
                // make this column not editable
                dataTable.column(roundIndex+1).nodes().to$().find('select').prop('disabled', true);
                dataTable.columns(-2).visible(true);
                dataTable.columns(-3).visible(true); // Show the last two columns (Delete and the empty one)
                dataTable.columns(-1).visible(true);
            });

            $('#scoresheet').Tabledit({
                editButton: false,
                deleteButton: false,
                hideIdentifier: false,
                columns: {
                    identifier: [numColumns-1, ''],
                    editable: [
                        {% for round_title in round_titles %}
                            [{{ forloop.counter0 | add:2 }}, '{{ round_title }}'],
                        {% endfor %}
                    ]
                },
                onDraw: function() {
                    console.log('onDraw');

                    // Call the fillRoundScores function with the existing_rounds data
                    fillRoundScores(replaceNoneWithNull(existingRounds));
                    $('table#scoresheet').on('change', 'tbody tr td select', function() {
                        // Calculate the total score for the current row
                        var $row = $(this).closest('tr');
                        console.log($row);
                        calculateTotalScore($row);
                    });
                    $('#scoresheet').on('blur', 'tbody tr td input', function() {
                        var $input = $(this);
                        var $row = $input.closest('tr');
                        var newValue = $input.val();

                        $input.siblings('.tabledit-span').text(newValue);
                        console.log($row);
                        calculateTotalScore($row);
                    });
                },
                onSave: function(rowId, cell, oldValue, newValue) {
                    // Calculate the total score for the current row
                    var $row = $('#' + rowId);
                    console.log($row);
                    calculateTotalScore($row);
                },
                onSuccess: function(data, textStatus, jqXHR) {
                    console.log('onSuccess(data, textStatus, jqXHR)');
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                },
                onFail: function(jqXHR, textStatus, errorThrown) {
                    console.log('onFail(jqXHR, textStatus, errorThrown)');
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                onAjax: function(action, serialize) {
                    console.log('onAjax(action, serialize)');
                    console.log(action);
                    console.log(serialize);
                }
            });
        });

        const playerLinks = document.querySelectorAll(".player_name");

        playerLinks.forEach(link => {
            const playerName = link.getAttribute('data-player');
            const playerColor = playerColorMapping[playerName];

            link.addEventListener('mouseover', () => {
                link.style.color = playerColor;
            });

            link.addEventListener('mouseout', () => {
                link.style.color = '';
            });
        });

        {#if (existingRounds) {#}
        {#    for (const round of existingRounds) {#}
        {#        for (const player of players) {#}
        {#            const score = round.fields[`score_${player.toLowerCase()}`];#}
        {#            if (score !== null) {#}
        {#                // Find the corresponding cell and set its text to the score#}
        {#                const cell = $(`#scoresheet tbody tr[data-player="${player}"] td[data-round-title="${round.fields.title}"]`);#}
        {#                cell.text(score);#}
        {#                // Update the total score for the current row#}
        {#                const row = cell.closest('tr');#}
        {#                calculateTotalScore(row);#}
        {#            }#}
        {#        }#}
        {#    }#}

            function fillRoundScores(existingRounds) {
                for (const round of existingRounds) {
                    const fields = round.fields;
                    const creator = fields.creator;
                    const title = fields.title;
                    const date = fields.date;

                    if (date === formatted_pres_name) {
                        // Iterate through the player rows and set the scores
                        const roundIndex = round_titles.indexOf(title);
                        if (roundIndex !== -1) {
                            // Populate scores in the table
                            $("#scoresheet tbody tr").each(function () {
                                const playerName = $(this).find("td:first a").data("player");
                                const scoreCell = $(this).find("td:gt(1):lt(-4)").eq(roundIndex);

                                const score = round.fields[`score_${playerName.toLowerCase()}`];
                                const scoreValue = score === null ? '' : score;

                                scoreCell.find('.tabledit-span').text(scoreValue);
                                scoreCell.find('.tabledit-input').val(scoreValue);

                                if (playerName === round.creator) {
                                    scoreCell.addClass("creator-cell");
                                }

                                var $row = $(this).closest("tr");
                                calculateTotalScore($row)

                            });
                        }

                    }
                }
            }


            $("#scoresheet").on("click", ".btn-delete", function () {
                // Get the row to delete
                var $row = $(this).closest("tr");

                // Remove the row from the table
                {#$row.remove();#}
                dataTable.row($row).remove().draw();

                $("#scoresheet tbody tr").each(function () {
                    var $row = $(this);
                    calculateTotalScore($row);
                });
            });


    </script>
{% endblock %}