body {
  font-family: YoungSerif;
  line-height: 1.6;
  color: #333;
  background-color: #333;
}

.footer-container{
    background-color: #0073cc;
    position: absolute;
    font-family: YoungSerif;
}

h1 {
  color: #eee;
}

.container {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #eee;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #eee;
}

button {
  background-color: #0073cc;
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  font-family: YoungSerif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.avail_text{
    color: #eee;
    font-size: 1rem;
    margin-bottom: 10px;
}

button:hover {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  aspect-ratio: auto 16 / 9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 70vh;
}


.content-container {
  justify-content: center;
  align-content: center;

}


container {

  width: 90%;
  justify-content: center;
  align-content: center;
}



main {
  align-content: center;
  justify-content: center;
}

/*https://coolors.co/palette/ffd373-fd8021-e05400-0073cc-003488-001d59-001524*/

.header-container{
    background-color: #0073cc;
}

/*.red{*/
/*    color: #ffd373;*/
/*}*/

/*.orange {*/
/*    color: #fd8021;*/
/*}*/

/*.yellow {*/
/*    color: #e05400;*/
/*}*/

/*.green {*/
/*    color: #003488;*/
/*}*/

.red{
    color: rgb(255, 118, 128)
}

.orange {
      color: rgb(255, 141, 70);
}

.yellow {
    color: #d5cd72;
}

.green {
    color: rgba(255, 255, 255, 0.7);
}

.blue {
      color: rgba(146, 232, 155, 0.8);


}

.purple {
    color: rgba(201, 145, 255, 0.65);
}