
body {
  font-family: YoungSerif;
  line-height: 1.6;
  background-color: #333;
  color:white;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    text-align: center;
    justify-content: center;
}

#chat-response {
    justify-content: left;
    text-align: left;
}

.panel {
    width: 90%;
    display: flex;
}

.header-container{
    /*background-color: #b8475d;*/
    /*background-color: #9d4edd;*/
    background-color: #240046;
}

.footer-container{
    /*background-color: #b8475d;*/
    /*background-color: #9d4edd;*/
    background-color: #240046;
    position: absolute;
    font-family: YoungSerif;
}

/*https://coolors.co/palette/ff6d00-ff8500-ff9e00-240046-5a189a-9d4edd-18af9d*/
.red{
    color: #ff6d00;
}

.orange {
    color: #ff8500;
}

.yellow {
    color: #ff9e00;
}

.green {
    color: #94c482;
}

.blue {
    color: #18af9d;
}

.purple {
    color: #9d4edd;
}

.content-container {
    display: flex;
}

button {
    font-family: YoungSerif;
    margin: 5px
}

main {
    width: 90%;
}

select {
    font-family: YoungSerif;
    margin: 5px;
}

input {
    font-family: YoungSerif;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.spinner {
    animation: spin 2s linear infinite;  /* Adjust the 2s value to make the spin faster or slower */
    margin: 5px;
}