body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color:white;
    height: 100%;
}

.header-container{
    background-color: #96031A;
}

.footer-container {
    background-color: #96031A;
    position: absolute;
    font-family: YoungSerif;
    min-height: 5vh;
}


#roundListHead tr th{
    background-color: #96031A;
    color: white;
    padding-bottom: 50px;
}

.title-cell{
    background-color: #96031A;
    color: white;
}

a {
    color: white;
}


.table-container {
    overflow: auto;
    /*min-height: 150px !important;*/
    height: 100%;
      min-height: calc(95vh - 106px);
    margin-top: 0px;
}


@media screen and (max-width: 790px) {
    #roundList {
      border-collapse: collapse; /* Collapse borders */
      width: 100%; /* Full-width */
      border: none;
      font-size: 14px; /* Increase font-size */
      line-height: 1;
    }

    #roundList tbody tr td {
        padding: 5px;
        margin:5px;
        text-align: center;
    }

    .cloned-cell {
        font-size: small;
        width: min-content;
    }


    .table-container {
        overflow: auto;
        /*min-height: 150px !important;*/
        height: 100%;
        max-height: calc(94vh - 106px);
    }

}

.content-container {
      min-height: calc(95vh - 106px);
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    position: absolute;
    right:0;
    left:0;
}

.footer-container {
    bottom: auto;
    display: none;
}

/*https://coolors.co/palette/f94144-f3722c-f8961e-f9c74f-90be6d-43aa8b-577590*/


.red{
    color: #f94144;
}

.orange {
    color: #f3722c;
}

.yellow {
    color: #f8961e;
}

.green {
    color: #f9c74f;
}

.blue {
    color: #90be6d;
}

.purple {
    color: #577590;
}