body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #333;
  color:white;
}

.header-container{
    background-color: #96031A;
}

#roundListHead tr th{
    background-color: #96031A;
    color: white;
}

.title-cell{
    background-color: #96031A;
    color: white;
}

a {
    color: white;
}

.table-container {
    overflow: auto;
    min-height: 270px !important;
}

@media screen and (max-width: 850px) {
    #roundList {
      border-collapse: collapse; /* Collapse borders */
      width: 100%; /* Full-width */
      border: none;
      font-size: 14px; /* Increase font-size */
      line-height: 1;
    }

    #roundList tbody tr td {
        padding: 5px;
        margin:5px;
        text-align: center;
    }

    .cloned-cell {
        font-size: small;
        width: min-content;
    }


    .table-container {
        overflow: auto;
        min-height: 150px !important;
    }

}

.red {
    color: #ff0000;
}

.purple {
    color: #7c2bff;
}